<title>Home Page</title>
&nbsp;&nbsp; <b>Home page</b>
<br>
<br>
<br>
&nbsp;&nbsp;<%= link_to "Login", login_url %>
<br>
<br>
<br>
&nbsp;&nbsp;<%= link_to "Sign Up", :controller  => "users", :action => "new"%>